*{
    margin: 0%;
    padding: 0px;

}
body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
}
.navbar{
    background-color:rgb(131, 33, 66);
    padding: 30px;
}
.container{
    padding: 10px;
}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 30px;
    display: inline-block;
}
.book-container h2{
    color: palevioletred;
}
.book-container button{
    color: black;
    background-color: palevioletred;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-top: 10px;
}

.add-button {
    background-color: palevioletred;
    color: black;
    padding: 20px;
    border-radius: 100%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    border: none;
}
.popup-overlay{
    background-color: black;
    position: absolute;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color: palevioletred;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;

}
.popup-box input{
   
    background-color: transparent;
    width: 100%;
    border: none;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid  black 2px;
    
}
.popup-box textarea{
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border:  solid black 2px;
    
 
    
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color:black;
}
.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: white;

}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}